/* TOUCAN CSS RESET | v0.1.9 */
/* Adapted by Aaron James Young */

/* General
---------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

p, blockquote, q, pre, address, hr, code, samp,
dl, ol, ul, form, table, fieldset, menu {
	margin-bottom: 1.5em;
}

/* html5 elements */
/* required for FF <= 3.6 */
header, footer, section, nav, aside, article, figure {
  display: block;
}

/* Structure
---------------------------------------- */
html { font-size: 100%; }
body { line-height: 1.5em; } /* define a pixel font size in normal stylesheet */

/* Text
---------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 3em; line-height: 1.1em; margin-bottom: .238em; }
h2 { font-size: 2em; line-height: 1.15em; margin-bottom: .357em; }
h3 { font-size: 1.5em; line-height: 1.2em; margin-bottom: .476em; } 
em, i { font-style: italic; }
strong, b { font-weight: bold; }
blockquote, q, cite { font-style: italic; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
code, kbd, pre, samp, { } /* set a font */
pre { /* word-wrap: break-word; */ white-space: pre-wrap; }
abbr, dfn { border-bottom: 1px dotted; cursor: help; font-style: normal; font-variant: normal; }
var { font-style: normal; }

/* Hypertext
---------------------------------------- */
a:focus { outline: 1px dotted; }

/* Image
---------------------------------------- */
img { border: 0; }

/* List
---------------------------------------- */

ul { list-style: disc outside none; }
ol { list-style: decimal outside none; }
li { margin-left: 2em; } /*20px?*/
li ul, li ol { margin-bottom: 0; }
dt { font-weight: bold; }
dd { margin-bottom: 1em; }

/* Presentation
---------------------------------------- */
hr { border: 0; border-bottom: 1px solid; }
small, sub, sup { font-size: .85em; }
sub, sup { line-height: 1; }
sub { vertical-align: bottom; }
sup { vertical-align: top; }
del, s, { text-decoration: line-through; }
ins { border-bottom: 1px dotted; text-decoration: none; }
bdo { border-bottom: 1px dotted; }

/* Form
---------------------------------------- */
fieldset { padding: 1em; }
legend { font-weight: bold; padding: 0 .25em; }
input, textarea, select, button { font-family: inherit; font-size: 100%; }
input[type=button], input[type=file], input[type=image], input[type=reset], input[type=submit], 
button[type=button], button[type=reset], button[type=submit] { cursor: pointer;	line-height: 1; }
textarea { line-height: 1.25; text-align: left; }

/* Table
---------------------------------------- */
table { border: 0; border-collapse: collapse; border-spacing: 0; line-height: 1.3; }
caption, th, td { text-align: left; vertical-align: top; }
th, td { border: 1px solid; padding: .5em 1em; }
caption { padding-bottom: 1em; }
th { font-weight: bold; }

/* "Grid" stuff
 * ------------------------------------- */
body, div, object, iframe, header, footer, section, nav, aside, article, figure,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, li,
form, fieldset, textarea, input { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /* these settings work in FF, Webkit, and IE8+ */
}

/* Default, 8-column: 768 px total width, 60px margins, 24px gutters, 60px columns
 * IE 6-8 will use these settings */
.body { padding: 0 60px; width: 768px; margin: 0 auto; }
.gl /* golden large */ { width: 396px; }
.gs /* golden small */ { width: 228px; }
/* half-width, third-width, quarter-width, sixth-width classes.
 * They float:left, have margin-right=24px (gutter), and the ones on the right have no margin-right
 * This won't work real well in IE, TODO: Fix IE
 * also TODO: consider using nth-child instead of nth-of-type in case I'm using these classes on
 * different types of elements
 * */
.full { width: 648px; }
.half { float: left; width: 312px; margin-right: 24px; }
.half:nth-of-type(2n) { margin-right: 0; }
.third { float: left; width: 200px; margin-right: 24px; }
.third:nth-of-type(3n) { margin-right: 0; }
.quarter { float: left; width: 144px; margin-right: 24px; }
.quarter:nth-of-type(4n) { margin-right: 0; }
/* todo - make this more sane, 88px is really narrow */
.sixth { float: left; width: 88px; margin-right: 24px; }
.sixth:nth-of-type(6n) { margin-right: 0; }

/* 13-column: 60px columns, 24px gutters, 72px margins, 1212px total */
@media only screen and (min-width: 1212px) {
    .body { padding: 0 72px; width: 1212px; margin: 0 auto; }
    .gl { width: 648px; } .gs { width: 396px; }
    .full { width: 1068px; }
    .half { float: left; width: 522px; margin-right: 24px; }
    .half:nth-of-type(2n) { margin-right: 0; }
    .third { float: left; width: 340px; margin-right: 24px; }
    .third:nth-of-type(3n) { margin-right: 0; }
    .quarter { float: left; width: 249px; margin-right: 24px; }
    .quarter:nth-of-type(4n) { margin-right: 0; }
    .sixth { float: left; width: 158px; margin-right: 24px; }
    .sixth:nth-of-type(6n) { margin-right: 0; }
}

/* 5-column: 60px columns, 24px gutters, 42px margins, 480px total */
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .body { padding: 0 42px; width: 480px; margin: 0 auto; }
    .gl { width: 228px; } .gs { width: 144px; }
    .full { width: 396px; }
    .half, .third, .quarter, .sixth { float: left; width: 174px; margin-right: 24px; }
    .third:nth-of-type(3n) { margin-right: 24px; }
    .half:nth-of-type(2n), .third:nth-of-type(2n), .quarter:nth-of-type(2n), .sixth:nth-of-type(2n) { margin-right: 0; }
}

/* 3-column: 60px columns, 24px gutters, 46px margins, 320px total */
@media only screen and (max-width: 479px) {
    .body { padding: 0 46px; width: 320px; margin: 0 auto; }
    .gl, .gs, .full, .half, .third, .quarter { width: 228px; float: left; margin: 0; }
    .sixth { float: left; width: 102px; margin-right: 24px; }
    .sixth:nth-of-type(2n) { margin-right: 0; }
}
